@import "variables";

@font-face {
    font-family: 'icofont';
    src:    url('#{$icomoon-font-path}/icofont.eot?9c7d99');
    src:    url('#{$icomoon-font-path}/icofont.eot?9c7d99#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/icofont.ttf?9c7d99') format('truetype'),
        url('#{$icomoon-font-path}/icofont.woff?9c7d99') format('woff'),
        url('#{$icomoon-font-path}/icofont.svg?9c7d99#icofont') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icofont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-talerdin-D {
    &:before {
        content: $i-talerdin-D;
    }
}
.i-talerdin {
    &:before {
        content: $i-talerdin;
    }
}

