@import "print";
@import "screen";
@import "style";
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.content {
    width: 100%;
    // max-width: 1345px;
    margin: 0 auto;
}

.i-talerdin {
    color: #323F74;
    font-size: 2em;
    padding-left: 35px;
}

.i-talerdin-D {
    color: #036937;
    font-size: 2em;
    padding-left: 54px;
}

.respiratorio {
    width: 100%;
    height: auto;
    // max-width: 1345px;
    position: relative;
    margin-top: 340px;
    img {
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.header {
    width: 100%;
    max-width: 1345px;
    margin: 0 auto;
    position: relative;
}

.ojos {
    background: #fff3bf;
    width: 100%;
    height: auto;
    // max-width: 1345px;
    position: relative;
    img {
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.piel {
    background: #e5e9e3;
    width: 100%;
    height: auto;
    // max-width: 1345px;
    position: relative;
    img {
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.indicaciones {
    background: url(../images/bg-repeat.gif);
    width: 100%;
    height: auto;
    // max-width: 1345px;
    position: relative;
    img {
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

#section0 {
    .content {
        position: relative;
        .yellow-top {
            width: 100%;
            // max-width: 1345px;
            height: 38px;
            // position: fixed;
            top: 0px;
            background: #fee200;
        }
        .left-box {
            width: 32%;
            min-width: 594px;
            position: absolute;
            top: 170px;
            display: inline-block;
        }
        .right-box {
            background: #fff;
            width: 59%;
            position: absolute;
            top: 70px;
            right: 20px;
            padding: 15px;
            z-index: 20;
            max-width: 560px;
            display: inline-block;
            p {
                color: #414f83;
                font-size: .8em;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                text-transform: uppercase;
                padding-bottom: 20px;
                line-height: 1.5em;
                font-weight: 200;
                text-align: justify;
                span {
                    font-size: 2em;
                    padding-right: 2px;
                }
            }
        }
    }
}

#section1 {
    margin-top: 22px;
}

#section2 {
    margin-top: 22px;
}

#section3 {
    margin-top: 22px;
    .content {
        padding-top: 200px;
        padding-bottom: 100px;
        .talerdin {
            width: 40%;
            display: inline-block;
            border: 1px solid #1b437a;
            position: relative;
            text-align: center;
            padding-top: 70px;
            min-height: 400px;
            vertical-align: top;
            margin: 0px 4.8%;
            .images {
                position: absolute;
                width: 100%;
                top: -188px;
                img {
                    width: 50%;
                    max-width: 432px;
                    height: auto;
                }
            }
            p {
                margin-top: 40px;
                color: #1b437a;
                font-size: 1em;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }
        }
    }
    ul.talerdin-list {
        border: none;
        text-align: left;
        width: 60%;
        margin: 0 auto;
        list-style: inherit;
        li {
            color: #1b437a;
            font-size: 1em;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            margin: 20px 0px;
        }
    }
    ul.talerdinD-list {
        border: none;
        text-align: left;
        width: 77%;
        margin: 0 auto;
        list-style: inherit;
        li {
            color: #0d6a37;
            font-size: 1em;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            margin: 20px 0px;
        }
    }
}

#section5 {
    .footer {
        text-align: center;
        padding: 40px 0px;
        color: #1b437a;
        font-size: 1em;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.2em;
        a {
            text-decoration: none;
            color: #1b437a;
        }
    }
}

.i-list {
    padding: 0px !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

@media (max-width: 1722px) {
    #section3 .content .talerdin .images {
        position: absolute;
        width: 100%;
        top: -118px;
    }
}

@media (max-width: 1345px) {
    #section3 .content .talerdin .images {
        position: absolute;
        width: 100%;
        top: -88px;
    }
}

@media (max-width: 1198px) {
    .i-talerdin-D {
        color: #036937;
        font-size: 1.5em;
        padding-left: 10px;
    }
    .i-talerdin {
        color: #323F74;
        font-size: 1.5em;
        padding-left: 10px;
    }
}

@media (max-width: 1000px) {
    #section0 .content .left-box {
        width: 100%;
        min-width: 0px;
        position: initial;
        display: inline-block;
        margin-top: 30px;
        text-align: center;
    }
    #section0 .content .right-box {
        background: #fff;
        width: 90%;
        position: initial;
        padding: 15px;
        z-index: 20;
        margin: 0 auto;
        max-width: 100%;
        display: block;
    }
    .i-talerdin-D {
        color: #036937;
        font-size: 2em;
        padding-left: 10px;
    }
    .i-talerdin {
        color: #323F74;
        font-size: 2em;
        padding-left: 0px;
    }
    .respiratorio {
        margin-top: 10px;
    }
    #section3 .content .talerdin {
        width: 90%;
        padding-top: 140px;
        margin-bottom: 110px;
    }
    #section3 .content {
        padding-top: 100px;
        padding-bottom: 0px;
    }
    #section3 .content .talerdin .images {
        position: absolute;
        width: 100%;
        top: -106px;
    }
    .talerdin.second {
        margin-top: 20px !important;
    }
}

@media (max-width: 500px) {
    #section3 .content .talerdin {
        padding-top: 60px;
        min-height: 0px;
    }
    .i-talerdin,
    .i-talerdin-D {
        margin-bottom: 20px;
        display: block;
    }
    .talerdin.second {
        margin-bottom: 20px !important;
    }
    #section3 .content .talerdin .images {
        position: absolute;
        width: 100%;
        top: -68px;
    }
}
