@font-face {
    font-family: 'icofont';
    src:    url('fonts/icofont.eot?2no4nz');
    src:    url('fonts/icofont.eot?2no4nz#iefix') format('embedded-opentype'),
        url('fonts/icofont.ttf?2no4nz') format('truetype'),
        url('fonts/icofont.woff?2no4nz') format('woff'),
        url('fonts/icofont.svg?2no4nz#icofont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="i-"], [class*=" i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icofont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-rapibac-letras:before {
    content: "\e908";
}
.i-arrow-down:before {
    content: "\e900";
}
.i-lion-red:before {
    content: "\e901";
}
.i-lion-white:before {
    content: "\e902";
}
.i-rapibac-logo-bg:before {
    content: "\e903";
}
.i-rapibac-logo:before {
    content: "\e904";
}
.i-rostros-hombre:before {
    content: "\e905";
}
.i-rostros-mujer:before {
    content: "\e906";
}
.i-rostros-rapi-bac:before {
    content: "\e907";
}

