@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icofont';
  src: url("fonts/icofont.eot?9c7d99");
  src: url("fonts/icofont.eot?9c7d99#iefix") format("embedded-opentype"), url("fonts/icofont.ttf?9c7d99") format("truetype"), url("fonts/icofont.woff?9c7d99") format("woff"), url("fonts/icofont.svg?9c7d99#icofont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, ../sass/_style.scss */
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icofont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, ../sass/_style.scss */
.i-talerdin-D:before {
  content: "";
}

/* line 35, ../sass/_style.scss */
.i-talerdin:before {
  content: "";
}

/* line 4, ../sass/main.scss */
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

/* line 10, ../sass/main.scss */
.content {
  width: 100%;
  margin: 0 auto;
}

/* line 16, ../sass/main.scss */
.i-talerdin {
  color: #323F74;
  font-size: 2em;
  padding-left: 35px;
}

/* line 22, ../sass/main.scss */
.i-talerdin-D {
  color: #036937;
  font-size: 2em;
  padding-left: 54px;
}

/* line 28, ../sass/main.scss */
.respiratorio {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 340px;
}
/* line 34, ../sass/main.scss */
.respiratorio img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 42, ../sass/main.scss */
.header {
  width: 100%;
  max-width: 1345px;
  margin: 0 auto;
  position: relative;
}

/* line 49, ../sass/main.scss */
.ojos {
  background: #fff3bf;
  width: 100%;
  height: auto;
  position: relative;
}
/* line 55, ../sass/main.scss */
.ojos img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 63, ../sass/main.scss */
.piel {
  background: #e5e9e3;
  width: 100%;
  height: auto;
  position: relative;
}
/* line 69, ../sass/main.scss */
.piel img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 77, ../sass/main.scss */
.indicaciones {
  background: url(../images/bg-repeat.gif);
  width: 100%;
  height: auto;
  position: relative;
}
/* line 83, ../sass/main.scss */
.indicaciones img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 92, ../sass/main.scss */
#section0 .content {
  position: relative;
}
/* line 94, ../sass/main.scss */
#section0 .content .yellow-top {
  width: 100%;
  height: 38px;
  top: 0px;
  background: #fee200;
}
/* line 102, ../sass/main.scss */
#section0 .content .left-box {
  width: 32%;
  min-width: 594px;
  position: absolute;
  top: 170px;
  display: inline-block;
}
/* line 109, ../sass/main.scss */
#section0 .content .right-box {
  background: #fff;
  width: 59%;
  position: absolute;
  top: 70px;
  right: 20px;
  padding: 15px;
  z-index: 20;
  max-width: 560px;
  display: inline-block;
}
/* line 119, ../sass/main.scss */
#section0 .content .right-box p {
  color: #414f83;
  font-size: .8em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
  line-height: 1.5em;
  font-weight: 200;
  text-align: justify;
}
/* line 128, ../sass/main.scss */
#section0 .content .right-box p span {
  font-size: 2em;
  padding-right: 2px;
}

/* line 137, ../sass/main.scss */
#section1 {
  margin-top: 22px;
}

/* line 141, ../sass/main.scss */
#section2 {
  margin-top: 22px;
}

/* line 145, ../sass/main.scss */
#section3 {
  margin-top: 22px;
}
/* line 147, ../sass/main.scss */
#section3 .content {
  padding-top: 200px;
  padding-bottom: 100px;
}
/* line 150, ../sass/main.scss */
#section3 .content .talerdin {
  width: 40%;
  display: inline-block;
  border: 1px solid #1b437a;
  position: relative;
  text-align: center;
  padding-top: 70px;
  min-height: 400px;
  vertical-align: top;
  margin: 0px 4.8%;
}
/* line 160, ../sass/main.scss */
#section3 .content .talerdin .images {
  position: absolute;
  width: 100%;
  top: -188px;
}
/* line 164, ../sass/main.scss */
#section3 .content .talerdin .images img {
  width: 50%;
  max-width: 432px;
  height: auto;
}
/* line 170, ../sass/main.scss */
#section3 .content .talerdin p {
  margin-top: 40px;
  color: #1b437a;
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 178, ../sass/main.scss */
#section3 ul.talerdin-list {
  border: none;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  list-style: inherit;
}
/* line 184, ../sass/main.scss */
#section3 ul.talerdin-list li {
  color: #1b437a;
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 20px 0px;
}
/* line 191, ../sass/main.scss */
#section3 ul.talerdinD-list {
  border: none;
  text-align: left;
  width: 77%;
  margin: 0 auto;
  list-style: inherit;
}
/* line 197, ../sass/main.scss */
#section3 ul.talerdinD-list li {
  color: #0d6a37;
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 20px 0px;
}

/* line 207, ../sass/main.scss */
#section5 .footer {
  text-align: center;
  padding: 40px 0px;
  color: #1b437a;
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.2em;
}
/* line 214, ../sass/main.scss */
#section5 .footer a {
  text-decoration: none;
  color: #1b437a;
}

/* line 221, ../sass/main.scss */
.i-list {
  padding: 0px !important;
}

/* line 225, ../sass/main.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 234, ../sass/main.scss */
.clearfix {
  display: inline-block;
}

/* line 238, ../sass/main.scss */
* html .clearfix {
  height: 1%;
}

/* line 242, ../sass/main.scss */
.clearfix {
  display: block;
}

@media (max-width: 1722px) {
  /* line 247, ../sass/main.scss */
  #section3 .content .talerdin .images {
    position: absolute;
    width: 100%;
    top: -118px;
  }
}
@media (max-width: 1345px) {
  /* line 255, ../sass/main.scss */
  #section3 .content .talerdin .images {
    position: absolute;
    width: 100%;
    top: -88px;
  }
}
@media (max-width: 1198px) {
  /* line 263, ../sass/main.scss */
  .i-talerdin-D {
    color: #036937;
    font-size: 1.5em;
    padding-left: 10px;
  }

  /* line 268, ../sass/main.scss */
  .i-talerdin {
    color: #323F74;
    font-size: 1.5em;
    padding-left: 10px;
  }
}
@media (max-width: 1000px) {
  /* line 276, ../sass/main.scss */
  #section0 .content .left-box {
    width: 100%;
    min-width: 0px;
    position: initial;
    display: inline-block;
    margin-top: 30px;
    text-align: center;
  }

  /* line 284, ../sass/main.scss */
  #section0 .content .right-box {
    background: #fff;
    width: 90%;
    position: initial;
    padding: 15px;
    z-index: 20;
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }

  /* line 294, ../sass/main.scss */
  .i-talerdin-D {
    color: #036937;
    font-size: 2em;
    padding-left: 10px;
  }

  /* line 299, ../sass/main.scss */
  .i-talerdin {
    color: #323F74;
    font-size: 2em;
    padding-left: 0px;
  }

  /* line 304, ../sass/main.scss */
  .respiratorio {
    margin-top: 10px;
  }

  /* line 307, ../sass/main.scss */
  #section3 .content .talerdin {
    width: 90%;
    padding-top: 140px;
    margin-bottom: 110px;
  }

  /* line 312, ../sass/main.scss */
  #section3 .content {
    padding-top: 100px;
    padding-bottom: 0px;
  }

  /* line 316, ../sass/main.scss */
  #section3 .content .talerdin .images {
    position: absolute;
    width: 100%;
    top: -106px;
  }

  /* line 321, ../sass/main.scss */
  .talerdin.second {
    margin-top: 20px !important;
  }
}
@media (max-width: 500px) {
  /* line 327, ../sass/main.scss */
  #section3 .content .talerdin {
    padding-top: 60px;
    min-height: 0px;
  }

  /* line 331, ../sass/main.scss */
  .i-talerdin,
  .i-talerdin-D {
    margin-bottom: 20px;
    display: block;
  }

  /* line 336, ../sass/main.scss */
  .talerdin.second {
    margin-bottom: 20px !important;
  }

  /* line 339, ../sass/main.scss */
  #section3 .content .talerdin .images {
    position: absolute;
    width: 100%;
    top: -68px;
  }
}
